@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --peppermint-green-hue: 130;
  /* --peppermint-green-hue: 88; */
  --peppermint-green-saturation: 15%;
  --peppermint-green-lightest: 95%;
  --peppermint-green-dark: 25%;
  --peppermint-green-darkest: 10%;

  --peppermint-green-color-lightest: hsl(
    var(--peppermint-green-hue),
    var(--peppermint-green-saturation),
    var(--peppermint-green-lightest)
  );

  --peppermint-green-color-dark: hsl(
    var(--peppermint-green-hue),
    var(--peppermint-green-saturation),
    var(--peppermint-green-dark)
  );

  --peppermint-green-color-darkest: hsl(
    var(--peppermint-green-hue),
    var(--peppermint-green-saturation),
    var(--peppermint-green-darkest)
  );

  color: var(--peppermint-green-color-lightest);
  background-color: var(--peppermint-green-color-darkest);
}

.font-display {
  font-family: 'Playfair Display', serif;
}

.peppermint-green-bg-dark {
  background-color: var(--peppermint-green-color-dark);
}
